{% extends "base.html"%}

{% block title %}Make a Post{% endblock%}

{% block contents %}
<h1>Make a Post</h1>
    <form action="/users/{{user_id}}/posts/new" method="POST" name="new-post">
        <div>
        <label for="title">Title:</label>
        <input type="text" name="title">
    </div>
    <div>
        <label for="content">Post Text:</label>
        <textarea id="content" name="content" rows="4" cols="50"></textarea>
    </div>
    <div>
        <h3>Add Tags</h5>
        {% for tag in tags %}
        <label><input type="checkbox" name="tags"  value="{{tag.id}}">{{tag.name}}</label>
        {% endfor %}
    </div>
        <button type="submit">Add</button>
    </form>
{% endblock %}